@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #ececee;
    background-color: #000000;
    /* overflow: hidden; */
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    /* height: 100vh; */
}

#back {
    position: fixed;
    font-size: 3rem;
    top: 20px;
    left: 50px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #7F00FF;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

#title {
    text-align: center;
    margin-top: 3%;
    font-size: 5vh;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.main:checked+label,
.main:not(:checked)+label {
    position: fixed;
    top: 63px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

.main:checked+label:before,
.main:not(:checked)+label:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main:checked+label:after,
.main:not(:checked)+label:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #000000;
    margin-top: -1px;
    transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main:checked+label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #000000;
    border-width: 0;
    transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.main:checked+label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu {
    width: 100%;
    display: table;
}

.officer {
    /* background-color: red; */
    display: table-row;
}

.comp {
    display: table-cell;
    /* top: 30%; */
    /* right: 50%; */
    /* width: 40%; */
    /* height: 60%; */
    z-index: 9;
    /* overflow: hidden; */
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    /* dot */
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.comp img {
    margin-top: 2%;
    margin-left: 15%;
    width: 70%;
    border-radius: 50%;
}

.officer-text {
    display: table-cell;
    /* background-color: aqua; */
    /* height: 50px; */
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#officer-text {
    margin-left: 10%;
    margin-right: 15%;
    font-size: 2vh;
}

@keyframes border-transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

@media screen and (max-width: 991px) {

    .main:checked+label,
    .main:not(:checked)+label {
        right: 55px;
    }

    .comp {
        right: 30px;
    }

    h1 {
        font-size: 9vw;
        -webkit-text-stroke: 2px transparent;
        -webkit-text-stroke: 2px transparent;
        -webkit-text-fill-color: #ffeba7;
        /* hover color chnage*/
        -webkit-text-fill-color: #ffeba7;
        color: #ffeba7;
    }
}