@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #ececee;
    background-color: #000000;
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    height: 100vh;
    width: 100%;
}

#title {
    text-align: center;
    margin-top: 3%;
    font-size: 5vh;
}

#workshop-text {
    text-align: center;
    margin-top: 5%;

}

#back {
    position: fixed;
    font-size: 3rem;
    top: 20px;
    left: 50px;
}